//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 
$white: #fff;
$black: #303044;

//Couleur projet spécifique


// Couleur de projet

$color-accent: $black;

$font-color: lighten($black,15%);

$text-color: black;
$link-color: $text-color;