//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$font-size : 1rem;
$font-height: 1.5rem;


/// Font family
$ff-normal: "Saira Extra Condensed", sans-serif;
$ff-normal-2: "Open Sans Condensed", sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;